.Hero-image{
    
}
a   {
    background-color: darkcyan;
    color: aqua;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}